{% extends "base.html" %}
{% set page = 'ABOUT' %}
{% block title %}I Fight Hunger| About{% endblock %}


{% block content %}
      <div class="jumbotron">
        <h1>Eradicate Holiday Hunger</h1>
        <p class="lead">Our plan: Promote an advent calendar to fight hunger. </p>
      </div>
      <div class="row-fluid">
        <img class ="span3 pull-left"src="/static/marketing/ifighthunger-logo1-129x300.png">
        <p>I FIGHT HUNGER inspires the eradication of holiday hunger. Take our pledge to serve your community, no matter how small your effort might be.  Our plan: Promote an advent calendar to fight hunger.</p>


        <p>Starting December 1st, every day until Christmas we feature a new restaurant partner who incentivizes daily social action so that volunteers will step forward to help their community.  Instead of a tiny piece of chocolate, we’d like to recognize your service to our community with a full fledged private dinner for two with one of our top chefs.  All you have to do is submit a photo or video of you in action, in your community, and we’ll see to it that you have an opportunity to be honored.  (We can’t honor your service if you don’t step forward, so please connect with us!)</p>
        
        <p>I FIGHT HUNGER was created on November 16th, 2012 after filming a video for KitchenlessChef.com, my culinary video blog.  I realized how fortunate I have been to experience some of the world’s finest culinary creations, and that privilege inspired me to make an effort to prevent holiday hunger.  After seeing poverty first hand in the Philippines and in Laos, it’s time the Kitchenless Chef platform evolves to support our community outside the kitchen.  I believe this is the tip of a larger project, but for now it is highly relevant at a time of year when the holiday spirit inspires us to be a bit more aware of the people around us.</p>
        
        <p>Our goal is to connect top chefs with volunteers who are making an effort to give back to the community.  Anyone can enter, showcase their effort, and be recognized. It is our hope that recognizing your efforts, and your story, will inspire others to do the same.  With the platform we’re creating, we aim to incentivize community activism and connect folks for the holiday season to do a more effective job of recognizing and combating hunger in our nation.  Our restaurant partners will start first in Washington, DC, which has the highest percentage of food stamp usage than any other city in our nation.  Once we’ve proven the concept here, we’ll look to expand into other major metropolitan areas.</p>
        <p>On Christmas eve, we’ll feature Carmine’s restaurant who is recognizing both a volunteer (and guest) and a less fortunate family of six to share in a feast on Christmas day. Plus, on Christmas day, we’ll feature multiple volunteer opportunities for you to earn recognition from several restaurants including a top chef’s menu with pairings (a $600+ meal of a lifetime – just pay the tax and gratuity).</p>

        <p>This season is full of opportunities to serve our community– and the holiday spirit will be brighter if we all proclaim, “I FIGHT HUNGER!”</p>



<div class="span8 offset2" style="text-align:center;">
  <h2>Our Generous Restaurants</h2>
  <div style="text-align:center;">
    <a title="1789 Restaurant" href="http://1789restaurant.com/main/index.cfm">1789</a><br>
    <a title="A-Town Bar and Grill" href="http://www.a-townballston.com/">A-Town Bar and Grill</a><br>
    <a title="Bastille Restaurant" href="http://www.bastillerestaurant.com/">Bastille Restaurant</a><br>
    <a title="Bayou" href="http://www.bayouonpenn.com/">Bayou</a><br>
    <a title="BLT Steak" href="http://www.e2hospitality.com/blt-steak-washington-dc/">BLT Steak</a><br>
    <a title="Blue Duck Tavern" href="http://www.blueducktavern.com/gallery/blueduck/home.html">Blue Duck Tavern</a><br>
    <a title="Boundary Stone" href="http://boundarystonedc.com/">Boundary Stone</a><br>
    <a title="Cashion's Eat Place" href="http://www.cashionseatplace.com/">Cashion’s Eat Place</a><br>
    <a title="Carmine's DC" href="http://www.carminesnyc.com/locations/washington-dc/">Carmine’s</a><br>
    <a title="Dino" href="http://www.dino-dc.com/">Dino</a><br>
    <a title="Elizabeth's Gone Raw" href="http://www.elizabethsgoneraw.com/">Elizabeth’s Gone Raw</a><br>
    <a title="Estadio" href="http://estadio-dc.com/">Estadio</a><br>
    <a title="Farmers Fishers Bakers" href="http://www.farmersfishersbakers.com/">Farmers Fishers Bakers</a><br>
    <a title="Firefly" href="http://www.firefly-dc.com/">Firefly</a><br>
    <a title="Granville Moore's" href="http://granvillemoores.com/">Granville Moore’s</a><br>
    <a title="Green Pig Bistro" href="http://greenpigbistro.com/">Green Pig Bistro</a><br>
    <a title="Grillfish" href="http://www.grillfishdc.com/">Grillfish</a><br>
    <a title="The Hamilton" href="http://www.thehamiltondc.com/">The Hamilton</a><br>
    <a title="The Heights" href="http://www.theheightsdc.com/">The Heights</a><br>
    <a title="Lincoln Restaurant" href="http://www.lincolnrestaurant-dc.com/">Lincoln Restaurant</a><br>
    <a title="Mandu" href="http://mandudc.com/">Mandu</a><br>
    <a title="Restaurant Nora" href="http://www.noras.com/">Restaurant Nora</a><br>
    <a title="Old Ebbitt Grill" href="http://www.ebbitt.com/main/home.cfm?Section=Main&amp;Category=About_the_Ebbitt">Old Ebbitt Grill</a><br>
    <a title="Poste" href="http://www.postebrasserie.com/">Poste Brasserie</a><br>
    <a title="Rogue 24" href="http://www.rogue24.com/">Rogue 24</a><br>
    <a title="Sonoma Restaurant" href="http://sonomadc.com/">Sonoma Restaurant and Wine Bar</a><br>
    <a title="Urbana" href="http://www.urbanadc.com/">Urbana</a><br>
    <a title="Zentan" href="http://www.zentanrestaurant.com/">Zentan</a><br>
    <a title="Zest Bistro" href="http://www.zestbistro.com/">Zest Bistro</a>
  </div>
</div>
      </div>


{% endblock %}
